<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TeenCode</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("TeenCode", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; padding-right: 200px;" })
            </div>

            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Work", "Work", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-sm-6">

                <h3 style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif">TeenCode</h3>

                <p class="footer-links">
                    @Html.ActionLink("Home", "Index", "Home") .
                    @Html.ActionLink("Work", "Work", "Home") .
                    @Html.ActionLink("About", "About", "Home") .
                   @Html.ActionLink("Contact", "Contact", "Home") 
                </p>

            </div>

            <div class="row">
                <div class="col-md-6 pull-right">
                    <p>&copy; @DateTime.Now.Year - TeenCode</p>
            
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
